{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
    <h1>Unauthorized </h1>
<br>
<a href="{{ path('home_index')}}" class="card-link">Home</a>

    <div class="d-flex justify-content-start"><lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_glnkkfua.json" mode="bounce" background="transparent"  speed="1"  style="width: 100%; height:300px"  loop  autoplay></lottie-player></div>
